{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}
	<p>Hi, I am {{ name }}</p>
	<p>This page has been visited for {{ visits }} times</p>
	<button class="btn btn-primary" onclick="alert('Click the button using Javascript.');">Click ME - Run Javascript</button>
	<button id="about-btn">Click ME - Using JQuery</button>
	<p>This would be my girlfriend and future wife, haha...just kidding!</p>
	<img src="{% static 'images/about.jpg' %}">
	<p>This is the cat we raise together!</p>
	<img src="{{ MEDIA_URL }}cat.jpg">
{% endblock %}	