<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
	<title>Rango</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>	
</head>
<body>
	<h1>Rnago says...</h1>
	<div>
		hey there parterner!<br />
		<strong>{{ boldmessage }}</strong><br />
	</div>
	<div>
		<a href="/rango/about">About</a><br />
		<img src="{% static 'images/rango.jpg' %}"
			 alt="Picture of Rango" />
	</div>
</body>
</html>