{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block link_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{% endblock %}
	
{% block script_block %}
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{% endblock %}
		
{% block body_block %}
{% if user.is_authenticated %}
	Howdy {{ user.username }}
{% else %}
	hey there parterner!
{% endif %}	
	<p>Visits: {{ visits }}</p>
	<p>The five most liked categories:</p>
	<div>
	{% if categories %}
	<ul>
		{% for category in categories %}
			<li>
				<a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
			</li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
	</div>
	<p>The five most viewed pages:</p>
	<div>
	{% if pages %}
	<ul>
		{% for page in pages %}
			<li>
				<a href="{{ page.url }}">{{ page.title }}</a>
			</li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There is no page present.</strong>
	{% endif %}
	</div>
{% endblock %}