{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	User Profiles
{% endblock %}

{% block body_block %}
	<h3 class="text-success">This is all the User Profiles:</h3>
		<div class="panel">
			{% if list_profile %}
						{% for listuser in list_profile %}
						<div class="list-group-item">
							<h4 class="list-group-item-heading">
								<a href="{% url 'rango:update_profile' listuser.user.username %}">{{listuser.user.username}}</a>
							</h4>
						</div>
					{% endfor %}
			{% else %}
				<p>There are no users for the site.</p>
			{% endif %}
		</div>
{% endblock %}
