{% extends 'rango/base.html' %}
{% load staticfiles  %}

{% block title_block %}
	Search
{% endblock %}

{% block body_block %}
<div>
	<h1>Search with Rango</h1>
	<br>
	<form class="form-inline" method="post" action="{% url 'rango:search' %}">
		{% csrf_token %}
		<div class="form-group">
			<input class="form-control" type="text" name="query" size="50" id="query" placeholder="{{ query_text }}">
		</div>
		<button class="btn btn-success" type="submit" name="submit" value="Search">Search</button>
	</form>

	<div>
		{% if result_list %}
		<h3>Results</h3>
		{% for result in result_list %}
			<div class="list-group-item clearfix">
				<h5 class="list-group-item-heading">
					<a class="text-primary" href="{{ result.url }}">{{ result.title }}</a>
				</h5>
				<p class="list-group-item-text">
					{{ result.snippet }}
				</p>
			</div>
		{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}